:root,
:root[data-force-color-mode="light"] {
    color-scheme: light dark;
    --text-color: #213446;
    --background-color: #fff;
    --border-color: #f1f1f1;
    --link-color: #00f;
    --side-color: #0c2556;
    --content-gage-color: #f9fbfe
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #ffffffe0;
        --background-color: #181818;
        --border-color: #252525;
        --link-color: #2196f3;
        --side-color: #181818;
        --content-gage-color: #222
    }
}

:root[data-force-color-mode="dark"] {
    --text-color: #ffffffe0;
    --background-color: #181818;
    --border-color: #252525;
    --link-color: #2196f3;
    --side-color: #181818;
    --content-gage-color: #222
}

body {
    color: var(--text-color);
    background-color: var(--background-color)
}

a {
    color: var(--link-color)
}

#reset-darkmode {
    display: none;
    text-decoration: none;
    font-style: italic
}

[data-force-color-mode] #reset-darkmode {
    display: initial
}

#toggle_darkmode {
    display: none
}

#toggle_darkmode + label:after {
    font-size: 20px;
    content: "🔆";
    cursor: pointer
}

#toggle_darkmode:checked + label:after {
    content: "🌙"
}

.d_flex {
    display: flex
}

.flex_wrap {
    flex-wrap: wrap
}

.align_items_center {
    align-items: center
}

.justify_content_between {
    justify-content: space-between
}

.position_relative {
    position: relative
}

.position_absolute {
    position: absolute
}

.product_search {
    .form_control {
        height: 40px;
        width: 350px
    }
}

.form_control {
    height: 46px;
    line-height: 45px;
    padding: 0.625rem 1.25rem;
    border: 1px solid var(--border-color);
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: background-color .3s ease-in-out
}

.form_control::placeholder, .form_control::-webkit-input-placeholder, .form_control:-ms-input-placeholder {
    color: var(--text-color)
}

.form_control:focus {
    color: var(--text-color);
    border-color: var(--border-color);
    box-shadow: none
}
