.sidebar_on {
    .top_nav {
        width: 100%;
        transition: all .3s ease-in-out
    }
}


.top_nav {
    z-index: 99;
    display: inline-block;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    width: calc(100% - 260px);
    min-height: 73px;
    line-height: 73px;
    margin: 0;
    padding: 0 30px;
    background-color: var(--background-color);
    -ms-box-shadow: 0 0 30px rgba(12,37,86,.05);
    -o-box-shadow: 0 0 30px rgba(12,37,86,.05);
    box-shadow: 0 0 30px rgb(12 37 86 / 5%);
    transition: all .3s ease-in-out
}