body.html {
    background-color: #ffd6c5;
}

body.html .list table {
    background-color: #ffe8df;
}

body.css {
    background-color: #ffe8c3;
}

body.css .list p {
    background-color: #fff5e4;
}

body.info {
    background-color: #e7d9ff;
}

body.info .list p {
    background-color: #f4edff;
}

body.timetable {
    background-color: #e9efb2;
}

body.coding {
    background-color: #c8edf5;
}

body.flex .list p {
    position: relative;
    line-height: 28px;
}

.list.bar {
    position: relative;
}

.list.bar:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: #2f30f7;
}

body.coding .list p {
    background-color: #dff5f9;
    line-height: 28px;
}

body.coding .list img {
    max-width: 800px;
}

body.coding .list table {
    background-color: #dff5f9;
}

body.coding .list table thead {
    border-color: #c8edf5;
}

body.script {
    background-color: #dcdcdc;
}

body.script .list p {
    background-color: #d2d2d2;
}

body.script .list table {
    background-color: #d2d2d2;
}

body.script .list table thead {
    border-color: #787878;
}

body.script .list code {
    color: #323232;
}


.list .ps {
    width: 80%;
    padding: 2% 10%;
    text-align: center;
}

.list.flex {
    margin-bottom: 0;
}
.list.flex table td {
    height: auto;
}

pre.prettyprint {
    padding: 20px;
    margin-bottom: 40px;
    background-color: #fff;
    white-space: pre-line;
}
pre.flex {
    position: relative;
    margin: 0 0 10px 0;
    background-color: #282923;
}
pre code {
    display: block;
    line-height: 22px;
    padding: 30px;
    padding-bottom: 0;
    color: #fff;
    background-color: #282923;
}

span.pre_tag {
    color: #e32472;
}
span.pre_class {
    color: #98e22a;
}

span.pre_classname {
    color: #e7d86a;
}
span.css {
    color: #67d8c1;
}
span.css_detail {
    color: #ac80c2;
}
span.code_ps {
    color: #a7a7a7;
}
pre .flex_tag {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 8px;
    background-color: #f2793d;
    text-align: center;
    font-size: 12px;
    border-radius: 0 0 0 4px;
    color: #fff;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
pre .flex_tag.css {
    background-color: #1790d2;
}
pre .flex_tag.text {
    background-color: #9b9b9b;
}


.tag {
    font-weight: bold;
    color: #e32472;
}

.style {
    font-weight: bold;
    color: #5050FF;
}

.list {
    margin-bottom: 50px;
    color: #343434;
}

.list h2 {
    margin: 20px 0;
    font-size: 32px;
}

.list pre {
    padding: 3%;
    white-space: pre-line;
    background-color: #ffe8df;
}

.list p {
    padding: 16px;
    background-color: #ffe8df;
    line-height: 28px;
    word-break: keep-all;
}

.list p a {
    color: #2f30f7;
}

.list ul {
    margin: 20px 0 11px 25px;
}

.list li {
    font-size: 16px;
    margin-bottom: 4px;
    list-style: disc;
    line-height: 28px;
}

.list li ul {
    margin: 0 0 11px 25px;
}

.list li ul li {
    list-style: circle;
}

.list table {
    margin-top: 20px;
    background-color: #fff5e4;
}

.list table thead {
    border-bottom: 1px solid #e3b0ad;
}

.list table th {
    padding: 16px 0;
    font-weight: normal;
}

.list table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.list table td {
    padding: 20px 0;
    text-align: center;
}

.list table td.ok {
    color: #00d504;
    font-weight: bold;
}

.list table td.no {
    color: #ff0000;
    font-weight: bold;
}

.list table code {
    color: #f2793d;
    font-weight: bold;
}
.list.background {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 40px 0;
    background-color: #fff5e4;
}

.list.background.on {
    justify-content: flex-start;
    flex-wrap: wrap;
}

.list.background.on>div {
    padding: 2.3%;
}

.list.pre pre {
    white-space: pre;
}

.list.transform {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 40px 0;
    background-color: #fff5e4;
}

.list.boxshadow {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 40px 0;
    background-color: #fff5e4;
}

.list.codepen p {
    padding: 0;
}

.list.bold h2 {
    font-weight: bold;
}

.timetable .list table .none {
    width: 5%;
    text-align: center;
}

.timetable .list table tbody tr {
    border-bottom: 1px solid #e3b0ad;
}

.timetable .list table td {
    border-right: 1px solid #e3b0ad;
}

.timetable .list table tbody tr:last-child,
.timetable .list table th:last-child,
.timetable .list table td:last-child {
    border: 0;
}

.timetable .list table td.none {
    width: 5%;
    background-color: #fff5e4;
}

.timetable .list table th {
    width: 18%;
    max-width: 18%;
    font-size: 18px;
    background-color: #FACD87;
    border-right: 1px solid #e3b0ad;
}

.timetable .list table td {
    position: relative;
    width: 18%;
    max-width: 18%;
    height: 300px;
    padding: 10px;
    margin: 0 2px;
    text-align: left;
}

.timetable .list table td:hover {
    background-color: #f7ffb3;
}

.timetable .list table td.none:hover {
    background-color: #fff5e4;
}

.timetable .list table td h3 {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 32px;
    font-weight: bold;
}

.timetable .list table td h4 {
    position: absolute;
    left: 10px;
    top: 54px;
}

.timetable .list table td h4 span {
    display: inline-block;
    margin-right: 4px;
    padding: 3px 10px;
    background-color: #ffe3b7;
    text-align: center;
    font-size: 12px;
}

.timetable .list table td h4 span.homework {
    background-color: #EB4646;
    color: #fff;
}

.timetable .list table td ul {
    position: absolute;
    left: 10px;
    top: 70px;
    width: 84%;
    margin: 12px 0 11px 18px;
}

.timetable .list table td li {
    word-break: break-all;
    font-size: 13px;
}

.timetable .list table td li p {
    padding: 0;
    background: none;
}

.timetable .list table td li img {
    width: 94%;
    max-width: 380px;
}

.timetable .list table td li a {
    font-size: 14px;
    color: #1155cc;
    text-decoration: underline;
}

.list a {
    font-size: 16px;
    color: #343434;
}

.list a:hover {
    color: #1155cc;
    text-decoration: underline;
}

.list a span {
    font-size: 14px;
    color: #8b8b8b;
}


.rayout_test1 {
    height: 500px;
    background-color: #eee;
}

.rayout_test1 div {
    width: 100%;
    height: 50px;
    background-color: #ff0000;
}

.homework_btn {
    z-index: 1;
    position: fixed;
    right: 10px;
    bottom: 10px;
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.homework_form {
    display: none;
    z-index: 2;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 24px;
    background-color: #fff;
}

.homework_form h3 {
    margin-bottom: 6px;
}

.homework_form input,
.homework_form textarea {
    border: 1px solid #333;
    display: block;
    width: calc(100% - 32px);
    padding: 8px 16px;
    resize: none;
}

.submit_btn {
    display: block;
    width: 40% !important;
    margin: 16px auto;
    padding: 12px 0;
    background-color: #fff;
    color: #000;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    transition: all .2s ease;
    border: 1px solid #000;
}
.submit_btn:hover {
    background-color: #ef0000;
    color: #fff;
    border-color: #ef0000;
    transition: all .2s ease;
}

.form_bg {
    display: none;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}




@media screen and (max-width: 1280px) {
    .timetable .list table thead {
        display: none;
    }

    .timetable .list table .none {
        display: none;
    }

    .timetable .list table td {
        display: block;
        width: 99%;
        max-width: 100%;
        border: 0;
        margin: 0;
        border-bottom: 1px solid #e3b0ad;
    }

    .timetable .list table tbody tr {
        overflow: hidden;
        display: block;
        width: 100%;
        border: 0;
    }

    body.sub .list ul {
        margin: 20px 0 11px 25px;
    }
}

@media screen and (max-width: 414px) {
    .timetable .list table td:hover {
        background-color: #fff5e4;
    }

    .list table tbody tr:hover {
        background-color: #fff5e4;
    }

    .timetable .list table td li img {
        max-width: 190px;
    }
    span.code_ps {
        white-space: initial;
    }
    .homework_form {
        width: calc(100% - 48px);
    }
    .submit_btn {
        background-color: #ef0000;
        color: #fff;
        border: 1px solid #ef0000 !important;
    }
}