.item-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.item-video {
    width: 500px;
    margin-right: 20px;
}

.item-video .slick-dots li button {
    opacity: 0.75;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #acacac;
}

.item-video .slick-dots li.slick-active button {
    opacity: 1;
    background-color: #000;
}

.item_conents {
    width: 530px;
}

.item_name {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
}

.detail_contents {
    padding: 20px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.detail_contents>div {
    padding: 12px 0;
}

.detail_contents span {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.price {
    padding-bottom: 10px;
}

.price span {
    display: inline-block;
}

.detail_contents span.title {
    display: inline-block;
    width: 90px;
    font-size: 14px;
    color: #787878;
    font-weight: 400;
}

.detail_contents span.sale {
    color: #323232;
    font-size: 24px;
    font-weight: bold;
}

.detail_contents span.rate {
    color: #ed1c24;
    font-size: 24px;
    font-weight: bold;
}

.detail_contents span.exist {
    padding-left: 94px;
    color: #787878;
}

.detail_contents span.stock {
    margin-left: 6px;
    padding: 2px 6px;
    font-size: 15px;
    border-radius: 10px;
    background-color: #ee2f49;
    color: #fff;
}

.detail_contents span.number {
    margin-top: 4px;
    margin-left: 6px;
    font-size: 13px;
    color: #333;
}

.detail_contents span.perbox {
    font-size: 13px;
    color: #222;
}

.detail_contents span.log_in {
    color: #fff;
    background-color: #ee2f49;
    padding: 3px 17px;
    border-radius: 12px;
}

.total_price {
    margin-bottom: 43px;
    padding-top: 30px;
    text-align: right;
}

.total_price span {
    font-size: 14px;
}

.total_price span:last-child {
    color: #ed1c24;
    font-size: 24px;
    font-weight: bold;
    margin-left: 6px;
}

.total_price span.log_in {
    font-size: 14px;
    color: #fff;
    background-color: #ee2f49;
    padding: 3px 17px;
    border-radius: 12px;
    font-weight: 400;
}

.nav_btn {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.nav_btn button {
    width: 250px;
    padding: 11px 0;
    color: #fff;
    background-color: #ee2f49;
    border: 1px solid #ee2f49;
    text-align: center;
    font-size: 1.15em;
}

.nav_btn button:last-child {
    background: #fff;
    color: #2C2C2C;
    border: 1px solid #ccc;
}