@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* reset */

body {font-family: 'Noto Sans KR', sans-serif;}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
    margin: 0;
    padding: 0;
}
input[type="text"],button,textarea,select {
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    outline: none;
}
input[type="text"]:focus,button:focus,textarea:focus,select:focus {
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    outline: none;
}
input[type="text"]:-internal-autofill-selected {
    background-color: #fff;
}
input[type="text"]:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    transition: background-color 5000s ease-in-out 0s;
}
input[type="text"]:-webkit-autofill {
   -webkit-box-shadow: 0 0 0 1000px white inset;
}

dl,
ul,
ol,
li {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

input,
select,
textarea,
button {
    vertical-align: middle;
    outline: none;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    transition: all 0.1s ease-in-out;
}

body,
th,
td,
input,
select,
textarea,
button {
    font-size: 12px;
    line-height: 1.5;
    color: #333
}

a {
    color: #333;
    text-decoration: none;
    outline: none;
}

a:active,
a:hover {
    text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
    font-style: normal;
    font-weight: normal
}
video {
    height: 100%;
}
video,img {
    width: 100%;
}
section {
    overflow: hidden;
    padding: 12px 0;
    margin-bottom: 60px;
}
.container {
    width: 1280px;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .container {
        width: 94%;
    }
}