.sinup,
.terms {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 460px;
}

.terms {
    top: 58%;
}

.input_box > div{
	position: relative;
}
.sinup .input_box,
.terms .input_box {
	margin: 40px 0;
}
.sinup a,
.terms a {
    overflow: hidden;
	display: block;
	margin-bottom: 60px;
	text-align: center;
}
.sinup a.sinup_href,
.terms a.sinup_href {
    font-weight: 300;
    letter-spacing: 1px;
    float: right;
    padding: 7px 16px;
    font-size: 14px;
    color: #ababab;
    margin-bottom: 0;
    margin-top: 14px;
}

.sinup a.sinup_href:hover,
.terms a.sinup_href:hover {
    color: #333;
    transition: all 0.3s ease;
}

.sinup a img,
.terms a img {
	width: 290px;
}

.form_field {
    display: block;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #dadada;
    outline: 0;
    font-size: 17px;
    color: #333;
    padding: 7px 0;
    border-radius: 0;
    background: transparent;
}

.line {
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 0;
    height: 1px;
    background-color: #b265039c;
    transition: width 0.4s ease;
}

.form_field::placeholder {
    color: transparent;
    font-size: 0;
}

.form_field:placeholder-shown~.form_label {
    font-size: 13px;
    font-weight: 300;
    cursor: text;
    top: 6px;
}

.form_label {
    position: absolute;
    top: -20px;
    display: block;
    transition: all 0.3s ease;
    font-size: 13px;
    font-weight: 700;
    color: #9b9b9b;
}

.form_label span {
    font-size: 14px;
    color: #b265039c;
}

.form_field:focus {
    padding-bottom: 7px;
    color: #333;
    background-color: #fff;
}

.form_field:focus~.form_label {
    position: absolute;
    top: -20px;
    display: block;
    transition: all 0.3s ease;
    font-size: 13px;
    font-weight: 700;
    color: #b265039c;
}

.form_field:focus~.line {
    width: 100%;
    transition: width 0.4s ease;
}

.form_field:required,
.form_field:invalid {
    box-shadow: none;
}

.sinup_btn {
	width: 100%;
	height: 50px;
	line-height: 50px;
	border: 0;
	font-size: 14px;
	color: #ababab;
	cursor: pointer;
	text-align: center;
	transition: all 0.3s ease;
    box-shadow: none;
    border-radius: 0;
    -webkit-appearance: none;
   -webkit-border-radius: 0;
}
.sinup_btn:hover {
	color: #fff;
	font-weight: bold;
	background-color: #b265039c;
	transition: all 0.3s ease;
}

.terms input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin: 8px;
    border: 1px solid #eee;
    display: block;
    cursor: pointer;
}

.terms label {
    display: block;
    width: 88%;
    cursor: pointer;
}
.chk_all {
    margin-bottom: 40px;
}
.chk_all,
.chk {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.chk {
    margin-bottom: 40px;
}
.chk label {
    line-height: 35px;
}
.chk_all_txt {
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
}

.chk_txt {
    font-size: 14px;
    font-weight: 700;
}
.chk_txt strong {
    padding-left: 6px;
    font-size: 13px;
    font-weight: 300;
    color: #ff0000;
}
.terms_box {
    width: 100%;
    position: relative;
    overflow: auto;
    height: 88px;
    margin-top: 8px;
    padding: 12px;
    border: 1px solid #dadada;
}

.terms_btn {
    display: flex;
    justify-content: space-between;
}
.terms_btn input[type="submit"],
.terms_btn a {
    width: 48%;
    height: 50px;
    line-height: 50px;
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: none;
    border-radius: 0;
    -webkit-appearance: none;
   -webkit-border-radius: 0;
   background-color: #b265039c;
}
.terms_btn a {
    background-color: #333;
}


@media screen and (max-width: 1024px) {
	.sinup {
		top: 56%;
	}
}
@media screen and (max-width: 768px) {
	.sinup a {
		margin-bottom: 30px;
	}
    .sinup_btn {
        color: #fff;
        background-color: #b265039c;
    }
}
@media screen and (max-width: 500px) {
	.sinup,
    .terms {
		width: 94%;
		top: 53%;
	}
    .terms {
        width: 94%;
        top: 58%;
    }
}