.container {
	position: relative;
	width: 1180px;
	height: 100%;
	margin: 0 auto;
}

header {
	z-index: 1;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	overflow: hidden;
	height: 56px;
	line-height: 52px;
	border-bottom: 1px solid hsla(0,0%,100%,.1);
	background-color: rgba(0,0,0,.5);
}
.logo {
	width: 80px;
	margin-left: 62px; 
	float: left;
}
.rogin {
	float: right;
	margin-right: 14px;
}

.rogin button {
	display: inline-block;
	padding: 0 6px;
	margin-right: 13px;
	color: #fff;
	opacity: 0.7;
	font-weight: 400;
    letter-spacing: -1px;
	background: none;
	transition: opacity 0.2s ease;
}
.rogin button:hover {
	opacity: 1;
	transition: opacity 0.2s ease;
}
.rogin button:last-child {
	position: relative;
}
.rogin button:last-child:before {
	opacity: .2;
	content: '';
	position: absolute;
	left: -10px;
    top: 5px;
    width: 1px;
    height: 10px;
	background-color: #eee;
}

nav {
	z-index: 1;
	position: fixed;
	left: 0;
	top: 57px;
	overflow: hidden;
	width: 100%;
	height: 58px;
	line-height: 58px;
	background-color: rgba(0,0,0,.5);
}
nav ul {
	overflow: hidden;
	float: left;
	margin-left: 51px;
	height: 58px;
	line-height: 58px;
}
nav ul li {
	float: left;
}

nav ul li:first-child {
	margin-left: 0;
}

nav ul li:hover a {
	color: #fff;
	transition: color 0.2s ease;
}
nav ul li a {
	display: block;
	padding: 0 20px;
	font-size: 15px;
	color:  hsla(0,0%,100%,.6);
	transition: color 0.2s ease;
}
nav ul li a:first-child {
	padding-left: 15px;
}

nav button {
	float: right;
	width: 190px;
	height: 58px;
	line-height: 58px;
	font-size: 21.5px;
	color: #fff;
	background-color: #e54747;
}

.banner {
	position: relative;
	background: url(images/banner_bg.jpg) no-repeat top center;
	background-size: cover;
	height: 510px;
}
.title {
	padding-top: 190px;
}
.title .tag {
	margin-bottom: 16px;
}
.title .tag span {
	margin-right: 8px;
	padding: 4px 10px;
	border: 1px solid #fff;
	border-radius: 16px;
	font-size: 12px;
	color: #fff;
}
.title .tag span:first-child {
	background-color: #606cc8;
	border-color: #606cc8;

}
.title h2 {
	margin-bottom: 22px;
	font-size: 48px;
	color: #fff;
}
.title p {
	font-size: 17px;
	color: #fff;
}

.title_img {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 686px;
}

.menu {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(25,24,51,.8);
}
.menu ul {
	overflow: hidden;
}
.menu ul li {
	position: relative;
	float: left;
	width: 20%;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.menu ul li:before {
	z-index: 1;
	opacity: 0;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
    display: inline-block;
    width: 100%;
    height: 50px;
    background: url(images/promotion-nav.png) center top/auto 50px no-repeat;
    transition: all 0.3s ease;
}
.menu ul li:hover:before {
	z-index: 0;
	opacity: 1;
	transition: all 0.3s ease;
}

.menu ul li a {
	display: block;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	font-size: 15px;
	color: rgba(255,255,255,.3);
	transition: color 0.3s ease;
}
.menu ul li a:hover {
	color: #fff;
	transition: color 0.3s ease;

}

.contents {

}
.contents .item {

}
.contents .item ul {
	overflow: hidden;
	padding: 24px 0;
}
.contents .item ul li {
	float: left;
	width: 16.66666%;
}
.contents .item ul li a {
	display: block;
	opacity: 0.5;
	text-align: center;
	transition: opacity 0.3s ease;
}
.contents .item ul li a:hover{
	opacity: 1;
	transition: opacity 0.3s ease;
}
.contents .item ul li a img {
	display: block;
	margin: 0 auto;
	width: 36px;
	height: 36px;
}
.contents .item ul li a span {
	display: block;
	font-size: 15px;
	color: #000;
}










