<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"/>
	<title>상품 상세페이지</title>

	<!-- 스타일 시트 -->
	<link rel="stylesheet" href="../common.css"> <!-- 공통 CSS -->
	<link rel="stylesheet" href="assets/css/item_detail.css">
	<link rel="stylesheet" href="assets/css/slick.css"> <!-- 플러그인 CSS -->
	<link rel="stylesheet" href="assets/css/slick-theme.css"> <!-- 플러그인 CSS -->
</head>
<body>

	<!-- 상품 상세 페이지  -->
	<div class="item_detail">
		

		<!-- 슬라이드 --> 
		<div class="item_video">
			<!-- 이미지 & 비디오 개수 만큼 슬라이드 개수 증가 -->
			<video src="assets/video/video.mp4" autoplay="autoplay" loop="loop" muted="muted">동영상 입니다.</video>
			<img src="assets/images/test.jpg" alt="item_image">
		</div>
		<!-- //슬라이드 -->
		

		<div class="container">

			<!-- 상품 이름 -->
			<div class="item_name">
				<span class="brand">[Banila co]</span>
				<span class="name">Mirror Holic Liquid Eyes #WH902</span>
			</div>
			<!-- //상품 이름 -->


			<!-- 상품 가격 -->
			<div class="price">
				<span class="sale">2.00 USD</span>
				<span class="exist">3.330 USD</span>
				<span class="rate">39% OFF</span>
				<span class="stock">Stock</span>
				<span class="number">89,724 ea</span>
				<span class="perbox">(Pieces per box : 1,500ea)</span>
			</div>
			<!-- //상품 가격 -->


			<!-- 상품 내용 -->
			<div class="detail_contents">
				<div>
					<span class="title">Brand</span>
					<span>Banila co <span class="more">(See More)</span></span>
				</div>
				<div>
					<span class="title">SKU</span>
					<span>BC03-CBMON</span>
				</div>
				<div>
					<span class="title">PartNum</span>
					<span>0158410mpatch</span>
				</div>
				<div>
					<span class="title">Bar Code</span>
					<span>8809416470245</span>
					<span class="moq">MOQ: 10ea</span>
				</div>
				<div class="login_link">
					<a href="">
						<img src="assets/images/login_link.png" alt="login_btn">
					</a>
				</div>
			</div>
			<!-- //상품 내용 -->

		</div>


		<!-- 컨텐츠 구분 라인 -->
		<div class="contents_line"></div>
		<!-- //컨텐츠 구분 라인 -->


		<!-- 상품 설명 -->
		<div class="description">
			<div class="detail_title">
				<h2>Description</h2>
			</div>
			<div class="container">
				<ol>
					<li>Wrinkle improved with only one time use so quickly making it your favorite.</li>
					<li>Wrinkle improved with only one time use so quickly making it your favorite.</li>
				</ol>
			</div>
		</div>
		<!-- 상품 설명 -->

		
	</div>
	<!-- //상품 상세 페이지 -->


	<!-- 스크립트 -->
	<script src="../jquery-3.4.1.js"></script>
	<script src="assets/js/slick.min.js"></script>
	<script src="assets/js/item_detail.js"></script>
	
</body>
</html>