body{font-family: 'Noto Sans KR', sans-serif;}
body,div,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,legend,textarea,p,select,button,figure {margin:0;padding:0;}
em,address {font-style:normal;}
ul,li,ol {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
a {text-decoration: none; -webkit-tap-highlight-color : rgba(0,0,0,0); outline: none;}
img,fieldset {border:0;}
video, img {width: 100%;}
table {width:100%; border-spacing:0; border-collapse: collapse;}
button,select {cursor: pointer;}
::before, ::after {box-sizing: border-box;}
label, input, button, select, img {vertical-align: middle;border: none;max-width: 100%;}
button {outline: none;}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font: inherit;
	-webkit-transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.container {
	position: relative;
	width: 86%;
	margin: 0 auto;
}