main {

}

#section1{
	position: relative;
	overflow: hidden;
}

#section2{
	background: -webkit-gradient(linear, top left, bottom left, from(#dcdcdc), to(#d0d0d0));
	background: -webkit-linear-gradient(#dcdcdc,#d0d0d0);
	background: linear-gradient(#dcdcdc,#d0d0d0);
}
#section3{
	background: -webkit-gradient(linear, top left, bottom left, from(#d4d4d4), to(#d0d0d0));
	background: -webkit-linear-gradient(#d0d0d0,#c3c3c3);
	background: linear-gradient(#d0d0d0,#c3c3c3);
}
.sec_container {
	z-index: 1;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 1520px;
	height: 86vh;
	box-shadow: 0 0 3rem rgb(17 17 17 / 70%);
	border-radius: 18px;
}
/*.sec1_bg_L {
	z-index: 0;
	float: left;
	width: 758px;
	height: 100vh;
	background-color: #fafafa;
}*/
/*.sec1_bg_R {
	z-index: 0;
	position: relative;
	float: left;
	width: 1162px;
	height: 100vh;
	background-color: #343434;
}*/
.cont_L {
	position: relative;
	float: left;
	width: 518px;
	height: 100%;
	background-color: #343434;
	transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
}
.cont_L h1 {
	padding: 72px 30px 30px 30px;
	font-size: 40px;
	font-weight: bold;
	color: #fff;
	transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
}
.cont_L .lee_img {
	z-index: 1;
	position: absolute;
	right: -400px;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
}
.cont_L .lee_img:before {
	content: '';
	position: absolute;
	left: 0;
	top: -106px;
	width: 100%;
	height: 2px;
	background-color: #b3b3b3;
}
.cont_L .lee_img:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -106px;
	width: 100%;
	height: 2px;
	background-color: #b3b3b3;
}
.cont_L .lee_img .black {
	display: inline-block;
}
.cont_L .lee_img .white {
	display: none;
}
.cont_L .title {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 24%;
	padding: 30px;
	font-size: 45px;
	font-weight: bold;
	color: #fff;
	transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
}
.cont_L .sub_title {
	z-index: 2;
	position: absolute;
	left: 0;
	bottom: 10%;
	max-width: 300px;
	padding: 30px;
	font-size: 26px;
	color: #fff;
	transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
}
.cont_R {
	position: relative;
	float: left;
	overflow: hidden;
	width: 1002px;
	height: 100%;
	background-color: #fafafa;
	transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
	background: url(../images/contr_bg_white.png) no-repeat;
	background-size: 1020px 860px;
    background-position: 0px -17px;
}
.marker {
	z-index: 9;
	position: absolute;
	left: -495px;
	top: 75px;
	transform: rotate(270deg);
	white-space: nowrap;
}
.marker span {
	display: inline-block;
	font-size: 22px;
	font-weight: bold;
	color: #606060;
	cursor: default;
	transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
}
.center_title {
	position: absolute;
	left: 56%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.center_title h2 {
	font-size: 46px;
	font-weight: bold;
	color: #343434;
}
.center_title p {
	font-size: 26px;
	margin-top: 6px;
	color: #343434;
}
#section2_theme path {
	fill: #fafafa;
	transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
}
.color_mode {
	position: absolute;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
	transform: scale(1);
	transition: transform .4s cubic-bezier(0.25, 1, 0.5, 1);
}
.color_mode:hover {
	transform: scale(1.5);
	transition: transform .4s cubic-bezier(0.25, 1, 0.5, 1);
}

/* contact_us */
.contact_us {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #343434;
	transition: background .4s cubic-bezier(0.25, 1, 0.5, 1);
}
.contact_us h1 {
	z-index: 1;
	position: absolute;
	left: 200px;
	top: 52%;
	font-size: 60px;
	font-weight: bold;
	color: #fff;
}
.map {
	position: relative;
	background: url(../images/map_bg_black.jpg) no-repeat top center;
	background-size: cover;	
	width: 100%;
	height: 56vh;
	transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
}
.mail_send_form {
	position: absolute;
	right: 100px;
	top: 0;
	width: 400px;
	min-height: 590px;
	padding: 20px 36px;
	border-radius: 0 0 12px 12px;
	background-color: #fafafa;
}
.mail_send_form p {
	padding-top: 80px;
	font-size: 12px;
}
.mail_send_form h2 {
	padding: 10px 0 50px 0;
	font-size: 13px;
	font-weight: bold;
	font-family: 'Noto Sans KR', sans-serif;
}
.mail_send_form fieldset {
	margin-bottom: 40px;
}
.mail_send_form .button-xlarge {
	position: absolute;
	right: 0;
	bottom: 130px;
	padding: 17px 72px 17px 17px;
	color: #fff;
	background-color: #343434;
	font-size: 14px;
	border-radius: 8px 0px 0px 8px;
	font-family: 'Roboto', sans-serif;
	transition: background .4s cubic-bezier(0.33, 1, 0.68, 1);
}
.mail_send_form .button-xlarge:before {
	content: '';
	position: absolute;
	right: 27px;
	top: 49%;
	transform: translate(-50%,-50%);
	width: 20px;
	height: 1px;
	background-color: #fafafa;
}

.our {
	display: flex;
	position: absolute;
	left: 167px;
	bottom: 83px;
}
.our_box {
	padding: 0 40px;
	color: #fff;
}
.our_box > h4 {
	font-family: 'Roboto', sans-serif;
	padding: 20px 0;
	font-size: 13px;
}
.our_box > div {
	font-family: 'Roboto', sans-serif;
	line-height: 26px;
	font-size: 14px;
}
.sns {
	position: absolute;
	right: 490px;
	bottom: 83px;
}
.sns ul {
	display: flex;
}
.sns li {
	padding: 0 6px;
}
.sns li a {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.sns li.kakao a {
	background: url(../images/katalk_icon_black.jpg) no-repeat top center;
	background-size: cover;
	transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
}
.sns li.insta a {
	background: url(../images/insta_icon_black.jpg) no-repeat top center;
	background-size: cover;
	transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
}

@media screen and (max-width: 1520px) {

}
@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1360px) {

}
@media screen and (max-width: 1280px) {

}