#section1 {
    position: relative;
    overflow: hidden;
    background: -webkit-gradient(linear, top left, bottom left, from(#eaeaea), to(#d0d0d0));
    background: -webkit-linear-gradient(#eaeaea, #d0d0d0);
    background: linear-gradient(#eaeaea, #d0d0d0);
}

#section2 {
    background: -webkit-gradient(linear, top left, bottom left, from(#d0d0d0), to(#b3b3b3));
    background: -webkit-linear-gradient(#d0d0d0, #b3b3b3);
    background: linear-gradient(#d0d0d0, #b3b3b3);
}

#section3 {
    background: -webkit-gradient(linear, top left, bottom left, from(#b3b3b3), to(#9a9a9a));
    background: -webkit-linear-gradient(#b3b3b3, #9a9a9a);
    background: linear-gradient(#b3b3b3, #9a9a9a);
}

#section4 {
    background: -webkit-gradient(linear, top left, bottom left, from(#9a9a9a), to(#868585));
    background: -webkit-linear-gradient(#9a9a9a, #868585);
    background: linear-gradient(#9a9a9a, #868585);
}

/*.sec1_bg_L {
	z-index: 0;
	float: left;
	width: 758px;
	height: 100vh;
	background-color: #fafafa;
}*/
/*.sec1_bg_R {
	z-index: 0;
	position: relative;
	float: left;
	width: 1162px;
	height: 100vh;
	background-color: #343434;
}*/
.cont_wrap {
    display: flex;
    height: 100%;
}

.cont_L {
    position: relative;
    width: 518px;
    height: 100%;
    background-color: #343434;
    transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
}

.cont_L h1 {
    padding: 72px 30px 30px 30px;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
}

.cont_L .lee_img {
    z-index: 1;
    position: absolute;
    right: -400px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}

.cont_L .lee_img:before {
    content: '';
    position: absolute;
    left: 0;
    top: -106px;
    width: 100%;
    height: 2px;
    background-color: #b3b3b3;
}

.cont_L .lee_img:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -106px;
    width: 100%;
    height: 2px;
    background-color: #b3b3b3;
}

.cont_L .lee_img .black {
    display: inline-block;
}

.cont_L .lee_img .white {
    display: none;
}

.cont_L .title {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 24%;
    padding: 30px;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
}

.cont_L .sub_title {
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 10%;
    max-width: 300px;
    padding: 30px;
    font-size: 26px;
    color: #fff;
    transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
}

.cont_R {
    position: relative;
    overflow: hidden;
    width: 1002px;
    height: 100%;
    background-color: #fafafa;
    transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
    background: url(../images/contr_bg_white.png) no-repeat;
    background-size: 1020px 860px;
    background-position: 0px -17px;
}

.marker {
    z-index: 9;
    position: absolute;
    left: -495px;
    top: 75px;
    transform: rotate(270deg);
    white-space: nowrap;
}

.marker span {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: #606060;
    cursor: default;
    transition: all .4s cubic-bezier(0.33, 1, 0.68, 1);
}

.center_title {
    position: absolute;
    left: 56%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.center_title h2 {
    font-size: 46px;
    color: #343434;
    font-family: 'Rubik Mono One', sans-serif;
}

.center_title p {
    font-size: 26px;
    margin-top: 6px;
    color: #343434;
}

.color_mode {
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    transform: scale(1);
    transition: transform .4s cubic-bezier(0.25, 1, 0.5, 1);
}

.color_mode:hover {
    transform: scale(1.5);
    transition: transform .4s cubic-bezier(0.25, 1, 0.5, 1);
}