body,div,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,fieldset,legend,textarea,p,select,button,figure {margin:0;padding:0;}
em,address {font-style:normal;}
ul,li,ol {list-style:none;}
h1,h2,h3,h4,h5,h6 {font-weight:normal;}
a {text-decoration: none;}
img,fieldset {border:0;}
video, img {width: 100%;}
table {width:100%; border-spacing:0; border-collapse: collapse;}
button,select {cursor: pointer;}
::before, ::after {box-sizing: border-box;}
label, input, button, select, img {vertical-align: middle;border: none;max-width: 100%;}
button {outline: none;}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font: inherit;
	-webkit-transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, visibility 0.3s ease-in-out;
}


.container {
	position: relative;
	width: 990px;
	height: 100%;
	margin: 0 auto;
}

/* 헤더 */
header {
	z-index: 999;
	position: absolute;
	right: 10px;
	top: 10px;
}
header a {
	color: #333;
	transition: color 0.3s ease;
}
header a:hover {
	color: #ff0000;
	transition: color 0.3s ease;
}

/* 배너 */
.banner {
	height: 325px;
	background: url('https://images.unsplash.com/photo-1617612349848-5c926c855bd4?ixid=MXwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60') no-repeat top center;
	/*background-repeat: no-repeat;
	background-position: center;*/
	background-size: cover;
}
.banner .title {
	opacity: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 270px;

}
.banner .title h1 {
	display: inline-block;
	margin-left: 6px;
	padding: 5px 15px;
	font-size: 24px;
	background-color: #ff6e40;
	color: #fff;
}
.banner .title p {
	padding: 5px 15px;
	display: inline-block;
	background-color: #f4511e;
}
.banner .title p a {
	color: #fff;
}
.banner .title ul {
	margin-top: 6px;
	overflow: hidden;
}
.banner .title ul li {
	overflow: hidden;
	float: left;
	width: 57px;
	height: 57px;
	margin-right: 6px;
	border-radius: 50%;
}
.banner .title ul li:last-child {
	margin-right: 0;
}
.banner .title ul li a {
	display: block;
}
.banner .title ul li a img {
	
}

.cont_title {
	text-align: center;
	height: 74px;
	line-height: 74px;
	font-size: 32px;
	background-color: #fff;
}


.cont_banner {

}
.cont_banner ul {
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}
.cont_banner ul li {
	width: 300px;
	height: 200px;
}
.cont_banner ul li a {
	display: block;
}
.cont_banner ul li a img {

}

.cont_main {
	overflow: hidden;
	padding-top: 30px;
}
.cont {
	float: left;
	width: 307px;
	padding-right: 16px;
	border-right: 1px solid #ccc;
}
.cont:nth-child(2) {
	padding-left: 17px;
	padding-right: 17px;
}
.cont:nth-child(3) {
	padding-left: 16px;
	padding-right: 0;
	border-right: 0;
}
.cont .cont_top {
	overflow: hidden;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.cont .cont_top img {
	display: block;
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 10px;
	border-radius: 50%;
}
.cont .cont_top .cont_top_text {
	float: left;
	width: 250px;
	margin-top: 8px;
}
.cont .cont_top .cont_top_text h4 {
	font-size: 18px;
}
.cont .cont_top .cont_top_text p {
	font-size: 13px;
}
    
.cont_bottom > div {

}
.cont_bottom > div h5 {
	padding-top: 15px;
}
.cont_bottom > div ul {
	padding-top: 4px;
}
.cont_bottom > div li {	
	list-style: disc;
	margin-left: 16px;
	padding: 2px 0;
}
.cont_bottom > div li a {
	display: block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    font-size: 13px;
}
.cont_bottom > div.cont_2 li a {
	float: left;
	display: block;
	width: 100px;
}
.cont_bottom > div li span {
	display: block;
	float: left;
}
.photo {
	overflow: hidden;
}
.photo div {
	position: relative;
	width: 99px;
	float: left;
	text-align: center;
}
.photo div:nth-child(2) {
	padding: 0 4px;
}
.photo div:nth-child(5) {
	padding: 0 4px;
}
.photo div img {
	width: 99px;
	height: 99px;
}
.photo div span {
	font-size: 12px;
}
.photo div p {
	display: none;
	position: absolute;
	left: 0;
	bottom: 19px;
	width: 100%;
	font-size: 14px;
	background-color: rgba(255,255,255,0.6);
	color: #000;
	text-align: center;
}
.photo div:hover p {
	display: block;
}











