/* reset */
body {
    direction: ltr;
    font-family: 'Nanum Gothic', sans-serif;
    min-height: calc(100vh - 55px);
    position: relative;
}

body,
div,
ul,
li,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
textarea,
p,
select,
button,
figure {
    margin: 0;
    padding: 0;
}

em,
address {
    font-style: normal;
}

ul,
li,
ol {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #000;
}

img,
fieldset {
    border: 0;
}

video,
img {
    width: 100%;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

button,
select {
    cursor: pointer;
}

::before,
::after {
    box-sizing: border-box;
}

label,
input,
button,
select,
img {
    vertical-align: middle;
    border: none;
    max-width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px #201c29 inset !important;
    -webkit-text-fill-color: #fff !important;
}

input::-ms-clear,
input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}